@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body" onload="load()">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">协同办公管理后台</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <i class="layui-icon layui-icon-logout" style="font-size: 30px;"></i>
                </li>
                <li class="layui-nav-item"><a href=""></a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test" id="tittle">
                  
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <!--<div style="padding: 15px;">内容主体区域</div>-->
            <iframe style="width:100%;height:99.23%" name="management"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            layui.com - 底部固定区域
        </div>
    </div>
    <script src="~/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
</body>
</html>
<script src="~/js/jquery-3.3.1.js"></script>

<script>
    function load() {
        $.ajax({
            url: 'http://localhost:5000/api/Staff/getRolesPowers?staffId=1',
            type: 'get',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                loadPower(data);
                layui.use('element', function () {
                    var element = layui.element;
                    element.init();
                });
            }
        })
    }
    function loadPower(data) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].pprev_authority == 0) {
                var str = '';
                str +=   ' <li class="layui-nav-item layui-nav-itemed">'
                str +=   ' <a class="" href="javascript:;">' + data[i].pname + '</a>'
                str +=   ' <dl class="layui-nav-child">'
                str +=   loadNextPower(data[i].pid, data)
                str +=   ' </dl>'
                str +=   ' </li>'
                str.replace('<dl class="layui-nav-child"></dl>', '');
                $("#tittle").append(str);
            }
        }
    }

    //加载二级菜单
    function loadNextPower(prevId, data) {
        str = '';
        for (var i = 0; i < data.length; i++) {
            if (data[i].pprev_authority == prevId) {
                str += '<dd><a href="' + data[i].paction + '" target="management">' + data[i].pname + '</a></dd>'
            }
        }
        return str;
    }
</script>