@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">协同办公管理后台</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        Admin
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""></a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test" id="tittle">
                </ul>
            </div>
        </div>
        <script src="~/js/jquery-3.3.1.js"></script>
        <div class="layui-body">
            <script>

                //获取token
                getkoken();

                function getkoken() {
                    $.ajax({
                        url: 'http://localhost:5000/api/Staff/staffIsExist?Staff_Account=1&Staff_Password=1',
                        type: 'get',
                        success: function (data) {
                            localStorage.setItem("token", data.token);
                            load(data.allPowers);
                        }
                    })
                }


                function load(data) {
                    var urls = new Array;
                    loadPower(data, urls);
                    layui.use('element', function () {
                        var element = layui.element;
                        element.init();
                    });
                    $.ajax({
                        url: '/Help/LoadUrls?urls=' + urls,
                    })
                }

                function loadPower(data,urls) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].pprev_authority == 0) {
                            var str = '';
                            str += ' <li class="layui-nav-item layui-nav-itemed">'
                            str += ' <a class="" href="javascript:;">' + data[i].pname + '</a>'
                            str += ' <dl class="layui-nav-child">'
                            str += loadNextPower(data[i].pid, data, urls);
                            str += ' </dl>'
                            str += ' </li>'
                            str.replace('<dl class="layui-nav-child"></dl>', '');
                            $("#tittle").append(str);
                        }
                    }
                }

                //加载二级菜单
                function loadNextPower(prevId, data,urls) {
                    str = '';
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].pprev_authority == prevId) {
                            str += '<dd><a href="' + data[i].paction + '" target="management">' + data[i].pname + '</a></dd>'
                            urls.push(data[i].paction);
                        }
                    }
                    return str;
                }
            </script>
            <!-- 内容主体区域 -->
            <iframe style="width:100%;height:99.23%" name="management"></iframe>
            <iframe></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            layui.com - 底部固定区域
        </div>
    </div>
    <script src="~/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>
<script src="~/js/jquery-3.3.1.js"></script>




